.mySwiper {
    width: 86vw;
    height: 57vw;
}

.mySwiper2 {
    width: 86vw;
    height: 20vw;
}
.imgcontainer {
  width: 20vw;
  height: 15vw;
}
  
  @media only screen and (min-width: 800px){
    .mySwiper {
      width: 40vw;
      height: 27vw;
    }
    .mySwiper2 {
        width: 40vw;
        height: 9vw;
    }
  }

  @media only screen and (min-width: 800px) {
    .imgcontainer {
      width: 10.5vw;
      height: 7vw;
    }
  }

  .swiperSlide {
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  
  .img {
    display: block;
    border-radius: 10px;
  }
