.container{
    display: flex;
    align-items: center ;
    justify-content:flex-start;
    overflow: auto;
}

.container::-webkit-scrollbar {
    height: 0;
}
.icons{
    margin-left:20px;
}
@media only screen and (max-width:500px) {
    .icons{
        display:none;
    }
}