.container{
    margin:50px auto 150px;
    font-size: 25px;
}

.paper{
    padding:20px 0;
    margin: auto;
    margin-top:125px;
    /* display: none; */
}

.sphere{
    left:-50px
}

.input{
    width: 200px;
    margin:5px 0;
}

.passInput{
    display:flex;
    position:relative;
    align-items:center;
    width:200px;
    margin:5px 0;
}

.label{
    width:fit-content;
    margin:10px auto;
    cursor:pointer;
}

.label:hover{
    transition:all .5s ease;
    scale: 1.1;
}

@media only screen and (min-width:350px){
    .input , .passInput{
        width: 250px;
    }
    .paper{
        padding: 20px;
        width: 80vw;
    }
}

@media only screen and (min-width:500px){
    .input , .passInput{
        width: 300px;
    }

    .paper{
        padding: 20px;
        width: 65vw;
    }
}

@media only screen and (min-width:750px){
    .paper{
        padding: 30px;
        width: 50vw;
    }
}

@media only screen and (min-width:1000px){
    .paper{
        padding: 40px;
        width: 35vw;
    }
    .sphere{
        left:50px
    }
}
@media only screen and (min-width:1200px){
    .paper{
        padding: 40px;
        width: 30vw;
    }
}