.footer {
    background-color: #12263b;
    color: #7c7dff;
    height: 45px;
    display: flex;
    justify-content: space-around;
}

.dev {
    margin: auto 0;
}

.link {
    margin: 0;
    display: inline;
    cursor: pointer;
    margin: 10px;
    position: relative;
    top: 10px;
}