.disCount{
    display:flex;
    align-items:center;
    justify-content:center;
    z-index:1;
    width:fit-content;
    border-radius: 10px;
    padding:0 0.2em;
    margin-right:0.5em;
  }

  .flex{
    display:flex;
    justify-content:center;
    align-items:center;
  }
  .flex1{
    direction: rtl;
    display:flex;
    justify-content:space-between;
    align-items:center;
  }
  
  .counter{
    display:block;
  }

  .payment{
    position:fixed;
    bottom: 0;
    z-index: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  @media only screen and (min-width:1000px) {
    .counter{
        display:flex;
        flex-direction: row-reverse;
        justify-content:space-between;
        align-items:center;
      }
  }

  @media only screen and (max-width:800px) {
    .container{margin-top:82px !important}
  }